In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import numpy as np

Read financials news dataset and merge into one csv file

In [2]:
#add company label in dataset
years = ['2021', '2022', '2023']
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
companies = ['AAPL', 'AMZN', 'MSFT', 'META', 'TSLA']

for year in years:
    for quarter in quarters:
        for company in companies:
            df_fn = pd.read_csv(f'data/{year}/{quarter}_News/{company}_{year}{quarter}_Financial_News.csv')
            df_fn['company'] = company
            df_fn.to_csv(f'data/{year}/{quarter}_News/{company}_{year}{quarter}_Financial_News.csv', index=False)

In [3]:
#merge csv files and group it into quarter

for i in years:
    for j in quarters:
        files = [
            f'data/{i}/{j}_News/AAPL_{i}{j}_Financial_News.csv', 
            f'data/{i}/{j}_News/AMZN_{i}{j}_Financial_News.csv',
            f'data/{i}/{j}_News/TSLA_{i}{j}_Financial_News.csv',
            f'data/{i}/{j}_News/MSFT_{i}{j}_Financial_News.csv',
            f'data/{i}/{j}_News/META_{i}{j}_Financial_News.csv'
        ]
        df_fn = pd.concat( 
            map(pd.read_csv, files), ignore_index=True)
        df_fn.to_csv(f'Financial News/{i}_{j}_Financial_News.csv', index=False)

In [4]:
#merge and group according to years
for i in years:
    files = [
            f'Financial News/{i}_Q1_Financial_News.csv', 
            f'Financial News/{i}_Q2_Financial_News.csv',
            f'Financial News/{i}_Q3_Financial_News.csv',
            f'Financial News/{i}_Q4_Financial_News.csv'
        ]
    df_fn = pd.concat( 
        map(pd.read_csv, files), ignore_index=True)
    df_fn.to_csv(f'Financial News/{i}_Financial_News.csv', index=False)

In [5]:
#merge all csv files into one csv file
files = [
            'Financial News/2021_Financial_News.csv', 
            'Financial News/2022_Financial_News.csv',
            'Financial News/2023_Financial_News.csv',
        ]
df_fn = pd.concat( 
        map(pd.read_csv, files), ignore_index=True)
df_fn.to_csv('Financial_News.csv', index=False)

Read financial historical stock data and merge into one csv file

In [6]:
#add company label in dataset
for company in companies:
    df = pd.read_csv(f'Historical stock prices/{company}_historical_data.csv')
    df['company'] = company
    df.to_csv(f'Historical stock prices/{company}_historical_data.csv', index=False)

In [7]:
files = ['Historical stock prices/AAPL_historical_data.csv', 
         'Historical stock prices/AMZN_historical_data.csv',
         'Historical stock prices/TSLA_historical_data.csv',
         'Historical stock prices/MSFT_historical_data.csv',
         'Historical stock prices/META_historical_data.csv'
        ]
df_sp = pd.concat(map(pd.read_csv, files), ignore_index=True)
df_sp.to_csv('Stock_Prices.csv', index=False)

## Data Cleaning of Financial News

In [8]:
df_fn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4622 non-null   int64
 1   Unnamed: 0.1    4622 non-null   int64
 2   title           4622 non-null   object
 3   description     4622 non-null   object
 4   published date  4622 non-null   object
 5   url             4622 non-null   object
 6   publisher       4622 non-null   object
 7   company         4622 non-null   object
 8   Unnamed: 0.1.1  985 non-null    float64
dtypes: float64(1), int64(2), object(6)
memory usage: 325.1+ KB

In [9]:
df_fn.head(5)

,Unnamed: 0,Unnamed: 0.1,title,description,published date,url,publisher,company,Unnamed: 0.1.1
0,0,0,Apple (AAPL) to Report Q1 Earnings: What's in ...,Apple (AAPL) to Report Q1 Earnings: What's in ...,"Fri, 22 Jan 2021 08:00:00 GMT",https://news.google.com/rss/articles/CBMiS2h0d...,"{'href': 'https://finance.yahoo.com', 'title':...",AAPL,NaN
1,1,1,How to Trade Apple (AAPL) in the First Half of...,How to Trade Apple (AAPL) in the First Half of...,"Thu, 07 Jan 2021 08:00:00 GMT",https://news.google.com/rss/articles/CBMiUWh0d...,"{'href': 'https://www.investopedia.com', 'titl...",AAPL,NaN
2,2,2,"What Facebook (FB), Twitter (TWTR), Apple (AAP...","What Facebook (FB), Twitter (TWTR), Apple (AAP...","Mon, 08 Feb 2021 08:00:00 GMT",https://news.google.com/rss/articles/CBMidGh0d...,"{'href': 'https://www.bloomberg.com', 'title':...",AAPL,NaN
3,3,3,AAPL After Hours: Share Price Slides On Tech W...,AAPL After Hours: Share Price Slides On Tech W...,"Wed, 24 Mar 2021 07:00:00 GMT",https://news.google.com/rss/articles/CBMiSmh0d...,"{'href': 'https://www.thestreet.com', 'title':...",AAPL,NaN
4,4,4,"Apple reports blowout quarter, booking more th...","Apple reports blowout quarter, booking more th...","Wed, 27 Jan 2021 08:00:00 GMT",https://news.google.com/rss/articles/CBMiQGh0d...,"{'href': 'https://www.cnbc.com', 'title': 'CNBC'}",AAPL,NaN

In [10]:
df_fn.tail(5)

,Unnamed: 0,Unnamed: 0.1,title,description,published date,url,publisher,company,Unnamed: 0.1.1
4617,84,84,Meta Quest 3: The Holiday Gift That Transforms...,Meta Quest 3: The Holiday Gift That Transforms...,"Wed, 29 Nov 2023 08:00:00 GMT",https://news.google.com/rss/articles/CBMiVmh0d...,"{'href': 'https://about.fb.com', 'title': 'Meta'}",META,NaN
4618,85,85,noyb files GDPR complaint against Meta over “P...,noyb files GDPR complaint against Meta over “P...,"Tue, 28 Nov 2023 08:00:00 GMT",https://news.google.com/rss/articles/CBMiSmh0d...,"{'href': 'https://noyb.eu', 'title': 'NOYB'}",META,NaN
4619,86,86,"Two years later, Facebook's rebrand as Meta lo...","Two years later, Facebook's rebrand as Meta lo...","Sat, 28 Oct 2023 07:00:00 GMT",https://news.google.com/rss/articles/CBMiS2h0d...,"{'href': 'https://www.fastcompany.com', 'title...",META,NaN
4620,87,87,Meta smart glasses—large language models and t...,Meta smart glasses—large language models and t...,"Mon, 04 Dec 2023 08:00:00 GMT",https://news.google.com/rss/articles/CBMiMmh0d...,"{'href': 'https://www.nature.com', 'title': 'N...",META,NaN
4621,88,88,Meta-reinforcement learning via orbitofrontal ...,Meta-reinforcement learning via orbitofrontal ...,"Mon, 13 Nov 2023 08:00:00 GMT",https://news.google.com/rss/articles/CBMiMmh0d...,"{'href': 'https://www.nature.com', 'title': 'N...",META,NaN

In [11]:
#removed unwanted column
df_fn = df_fn.drop(['Unnamed: 0', 'Unnamed: 0.1', 'description', 'Unnamed: 0.1.1'], axis='columns')

In [12]:
#check if there is any duplication
df_fn.duplicated().sum()

10

In [13]:
#drop duplicated value
df_fn.drop_duplicates(inplace=True)

In [14]:
#check if there is any missing value
df_fn.isna().sum()

title             0
published date    0
url               0
publisher         0
company           0
dtype: int64

In [15]:
df_fn.isnull().sum()

title             0
published date    0
url               0
publisher         0
company           0
dtype: int64

In [16]:
#rearrange columns name of financial news csv file
df_fn = df_fn.iloc[:,[1, -1, 0, 3, 2]]

In [17]:
#format date
from datetime import datetime

# covert to datetime
df_fn['published date'] = pd.to_datetime(df_fn['published date'])

# date in MM-DD-YYYY format
df_fn['published date'] = df_fn['published date'].dt.strftime('%Y-%m-%d')

In [18]:
#extract the publisher instead of url
import ast

df_fn['publisher'] = pd.Series(df_fn['publisher'], dtype="string")

def extract_title(dict_string):
    try:
        # Convert string to dictionary
        dict_obj = ast.literal_eval(dict_string)
        
        # Extract the title
        return dict_obj.get('title')
    
    except (ValueError, SyntaxError):
        return None
    
df_fn['publisher'] = df_fn['publisher'].apply(extract_title)

In [19]:
df_fn.to_csv('Financial_News.csv', index=False)

## Data Cleaning for Stock Prices

In [20]:
df_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765 entries, 0 to 3764
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3765 non-null   object
 1   Open       3765 non-null   float64
 2   High       3765 non-null   float64
 3   Low        3765 non-null   float64
 4   Close      3765 non-null   float64
 5   Adj Close  3765 non-null   float64
 6   Volume     3765 non-null   int64
 7   company    3765 non-null   object
dtypes: float64(5), int64(1), object(2)
memory usage: 235.4+ KB

In [21]:
df_sp.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,company
0,2021-01-04T00:00:00.000,133.520004,133.610001,126.760002,129.410004,126.830078,143301900,AAPL
1,2021-01-05T00:00:00.000,128.889999,131.740005,128.429993,131.009995,128.398163,97664900,AAPL
2,2021-01-06T00:00:00.000,127.720001,131.050003,126.379997,126.599998,124.076096,155088000,AAPL
3,2021-01-07T00:00:00.000,128.360001,131.630005,127.860001,130.919998,128.309982,109578200,AAPL
4,2021-01-08T00:00:00.000,132.429993,132.630005,130.229996,132.050003,129.417465,105158200,AAPL

In [22]:
df_sp.tail(5)

,Date,Open,High,Low,Close,Adj Close,Volume,company
3760,2023-12-22T00:00:00.000,355.579987,357.200012,351.220001,353.390015,353.015472,11764200,META
3761,2023-12-26T00:00:00.000,354.989990,356.980011,353.450012,354.829987,354.453918,9898600,META
3762,2023-12-27T00:00:00.000,356.070007,359.000000,355.309998,357.829987,357.450714,13207900,META
3763,2023-12-28T00:00:00.000,359.700012,361.899994,357.809998,358.320007,357.940216,11798800,META
3764,2023-12-29T00:00:00.000,358.989990,360.000000,351.820007,353.959991,353.584839,14980500,META

In [23]:
#check if there is any duplication
df_sp.duplicated().sum()

0

In [24]:
#check if there is any missing value
df_sp.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
company      0
dtype: int64

In [25]:
df_sp.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
company      0
dtype: int64

In [26]:
#format date
from datetime import datetime

# covert to datetime
df_sp['Date'] = pd.to_datetime(df_sp['Date'])

# date in MM-DD-YYYY format
df_sp['Date'] = df_sp['Date'].dt.strftime('%Y-%m-%d')

In [27]:
df_fn

,published date,company,title,publisher,url
0,2021-01-22,AAPL,Apple (AAPL) to Report Q1 Earnings: What's in ...,Yahoo Finance,https://news.google.com/rss/articles/CBMiS2h0d...
1,2021-01-07,AAPL,How to Trade Apple (AAPL) in the First Half of...,Investopedia,https://news.google.com/rss/articles/CBMiUWh0d...
2,2021-02-08,AAPL,"What Facebook (FB), Twitter (TWTR), Apple (AAP...",Bloomberg,https://news.google.com/rss/articles/CBMidGh0d...
3,2021-03-24,AAPL,AAPL After Hours: Share Price Slides On Tech W...,TheStreet,https://news.google.com/rss/articles/CBMiSmh0d...
4,2021-01-27,AAPL,"Apple reports blowout quarter, booking more th...",CNBC,https://news.google.com/rss/articles/CBMiQGh0d...
...,...,...,...,...,...
4617,2023-11-29,META,Meta Quest 3: The Holiday Gift That Transforms...,Meta,https://news.google.com/rss/articles/CBMiVmh0d...
4618,2023-11-28,META,noyb files GDPR complaint against Meta over “P...,NOYB,https://news.google.com/rss/articles/CBMiSmh0d...
4619,2023-10-28,META,"Two years later, Facebook's rebrand as Meta lo...",Fast Company,https://news.google.com/rss/articles/CBMiS2h0d...
4620,2023-12-04,META,Meta smart glasses—large language models and t...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...
4621,2023-11-13,META,Meta-reinforcement learning via orbitofrontal ...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...

In [28]:
df_sp.to_csv('Stock_Prices.csv', index=False)

## Data Labelling

Label sentiment score of each financial news based on Loughran and McDonald Financial Sentiment Dictionaries

In [29]:
!pip install pysentiment2

Requirement already satisfied: pysentiment2 in c:\users\asus\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (from pysentiment2) (1.3.4)
Requirement already satisfied: nltk>=2.0 in c:\users\asus\anaconda3\lib\site-packages (from pysentiment2) (3.6.5)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk>=2.0->pysentiment2) (8.0.3)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk>=2.0->pysentiment2) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\anaconda3\lib\site-packages (from nltk>=2.0->pysentiment2) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk>=2.0->pysentiment2) (4.62.3)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from click->nltk>=2.0->pysentiment2) (0.4.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas->pysentiment2) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas->pysentiment2) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas->pysentiment2) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pysentiment2) (1.16.0)

In [30]:
import pysentiment2 as ps

lm = ps.LM()

def get_sentiment_score(title):
    tokens = lm.tokenize(title)
    score = lm.get_score(tokens)
    return score

df_fn['sentiment_score'] = df_fn['title'].apply(get_sentiment_score)
df_fn

,published date,company,title,publisher,url,sentiment_score
0,2021-01-22,AAPL,Apple (AAPL) to Report Q1 Earnings: What's in ...,Yahoo Finance,https://news.google.com/rss/articles/CBMiS2h0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
1,2021-01-07,AAPL,How to Trade Apple (AAPL) in the First Half of...,Investopedia,https://news.google.com/rss/articles/CBMiUWh0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
2,2021-02-08,AAPL,"What Facebook (FB), Twitter (TWTR), Apple (AAP...",Bloomberg,https://news.google.com/rss/articles/CBMidGh0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
3,2021-03-24,AAPL,AAPL After Hours: Share Price Slides On Tech W...,TheStreet,https://news.google.com/rss/articles/CBMiSmh0d...,"{'Positive': 0, 'Negative': 1, 'Polarity': -0...."
4,2021-01-27,AAPL,"Apple reports blowout quarter, booking more th...",CNBC,https://news.google.com/rss/articles/CBMiQGh0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
...,...,...,...,...,...,...
4617,2023-11-29,META,Meta Quest 3: The Holiday Gift That Transforms...,Meta,https://news.google.com/rss/articles/CBMiVmh0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
4618,2023-11-28,META,noyb files GDPR complaint against Meta over “P...,NOYB,https://news.google.com/rss/articles/CBMiSmh0d...,"{'Positive': 0, 'Negative': 1, 'Polarity': -0...."
4619,2023-10-28,META,"Two years later, Facebook's rebrand as Meta lo...",Fast Company,https://news.google.com/rss/articles/CBMiS2h0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."
4620,2023-12-04,META,Meta smart glasses—large language models and t...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...,"{'Positive': 0, 'Negative': 1, 'Polarity': -0...."
4621,2023-11-13,META,Meta-reinforcement learning via orbitofrontal ...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...,"{'Positive': 0, 'Negative': 0, 'Polarity': 0.0..."

In [31]:
#filter whether it is positive, negative or neutral sentiments

df_fn['sentiment_score'] = pd.Series(df_fn['sentiment_score'], dtype="string")

def extract_sentiment(sentiment_string):
    try:
        # Convert string to dictionary
        dict_obj = ast.literal_eval(sentiment_string)
        
        # Extract the sentiment
        positive = dict_obj.get('Positive')
        negative = dict_obj.get('Negative')
        
        if positive == 1:
            return 'positive'
        elif negative == 1:
            return 'negative'
        else:
            return 'neutral'
    
    except (ValueError, SyntaxError):
        return None
    
df_fn['sentiment_score'] = df_fn['sentiment_score'].apply(extract_sentiment)

In [32]:
df_fn

,published date,company,title,publisher,url,sentiment_score
0,2021-01-22,AAPL,Apple (AAPL) to Report Q1 Earnings: What's in ...,Yahoo Finance,https://news.google.com/rss/articles/CBMiS2h0d...,neutral
1,2021-01-07,AAPL,How to Trade Apple (AAPL) in the First Half of...,Investopedia,https://news.google.com/rss/articles/CBMiUWh0d...,neutral
2,2021-02-08,AAPL,"What Facebook (FB), Twitter (TWTR), Apple (AAP...",Bloomberg,https://news.google.com/rss/articles/CBMidGh0d...,neutral
3,2021-03-24,AAPL,AAPL After Hours: Share Price Slides On Tech W...,TheStreet,https://news.google.com/rss/articles/CBMiSmh0d...,negative
4,2021-01-27,AAPL,"Apple reports blowout quarter, booking more th...",CNBC,https://news.google.com/rss/articles/CBMiQGh0d...,neutral
...,...,...,...,...,...,...
4617,2023-11-29,META,Meta Quest 3: The Holiday Gift That Transforms...,Meta,https://news.google.com/rss/articles/CBMiVmh0d...,neutral
4618,2023-11-28,META,noyb files GDPR complaint against Meta over “P...,NOYB,https://news.google.com/rss/articles/CBMiSmh0d...,negative
4619,2023-10-28,META,"Two years later, Facebook's rebrand as Meta lo...",Fast Company,https://news.google.com/rss/articles/CBMiS2h0d...,neutral
4620,2023-12-04,META,Meta smart glasses—large language models and t...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...,negative
4621,2023-11-13,META,Meta-reinforcement learning via orbitofrontal ...,Nature.com,https://news.google.com/rss/articles/CBMiMmh0d...,neutral

In [33]:
df_fn.to_csv('Financial_News.csv', index=False)